@import '~@angular/material/theming';
@import "../../../styles/01.mat-customize";

#site-content
{
    background-color:#efefef;
    $toolbar-height:40px;

    #site-toolbar
    {
        height:$toolbar-height;
        min-height:$toolbar-height;
        padding-left:  0;
        padding-right: 2px;
        
        #site-title
        {
            line-height:$toolbar-height;
            border-radius: 0;
            letter-spacing: 0.1;
            background-color:mat-color(map-get($theme, accent));
            padding:0;
            font-size:0.9em;
            padding-left:10px;
            padding-right:10px;
        }
    
        .site-toolbar-button
        {
            line-height:$toolbar-height;
            border-radius: 0;
            min-width:auto;
        }
    }

    .toolbar-flex-fill 
    {
        flex: 1 1 auto;
    }
}