<mat-sidenav-container id="site-content" fullscreen>
  <mat-sidenav mode="over" #leftSideNav>
      <ng-content select="[left-nav]"></ng-content>
  </mat-sidenav>

  <mat-sidenav mode="over" #rightSideNav position="end">
      <ng-content select="[right-nav]"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary" id="site-toolbar" class="mat-elevation-z2">
          <button mat-button id="site-title" (click)="leftSideNav.toggle()">{{title}}</button>
          <ng-content select="[left-toolbar-nav]"></ng-content>
          <span class="toolbar-flex-fill"></span>
          <ng-content select="[right-toolbar-nav]"></ng-content>
          <button class="site-toolbar-button" mat-button><mat-icon>account_circle</mat-icon></button>
          <button class="site-toolbar-button" mat-button (click)="rightSideNav.toggle()"><mat-icon>menu</mat-icon></button>
      </mat-toolbar>
      <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>