@import '~@angular/material/theming';

$typography: mat-typography-config(
  $font-family: 'Open Sans'
);

@include mat-core($typography);

$primary-color: mat-palette($mat-blue-grey, 900);
$accent-color: mat-palette($mat-amber, 600);
$theme: mat-light-theme($primary-color, $accent-color);

@include angular-material-theme($theme);